@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Inconsolata:wght@300&family=Indie+Flower&display=swap");

body,
body > * {
  font-family: "Comfortaa", cursive;
  background-color: rgb(36, 36, 36);
  display: block;
}

p,
h1,
h2 {
  color: white;
}

.task-container {
  padding: 10%;
  background-color: rgb(85, 85, 85);
}

.task-list-container {
  margin: auto;
}

.task-list-container > table {
  margin: auto;
}

/* MENU */
.menu-bar {
  text-align: center;
  padding: 2%;
}

/* MENU - BUTTONS */
.menu-bar button {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 2%;
  margin: 0.2%;
  background-color: rgb(53, 255, 255);
  font-size: 1.5em;
  border-color: rgb(53, 255, 255);
}

/* TODO TASK CONTAINER */
/* TASK-LIST CONTAINER */
