@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Inconsolata:wght@300&family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

body,
body > * {
  font-family: "Comfortaa", cursive;
  background-color: rgb(36, 36, 36);
  display: block;
}

p,
h1,
h2 {
  color: white;
}

/* TODO TASK CONTAINER */
/* TASK-LIST CONTAINER */

/* TASK - SINGLE TASK CONTAINER */
.task-container {
  padding: 2%;
  background-color: rgb(85, 85, 85);
  border-radius: 1.5em;
  display: flex;
  margin: 0.5%;
}

.task-items {
  flex: 4;
}

.task-icons {
  flex: 1;
}

.task-icons > * {
  width: 100%;
}

.task-container > * {
  margin: 0.5em;
}

/*TASKS - TAGS */
.Chores {
  background-color: brown;
}

.task-tags {
  font-family: "Nova Mono", monospace;
}

/* TASK ADD - BUTTON */
/*.task-add-btn {
}
*/

/* TASK LIST */
.task-list-div {
  text-align: center;
}
.task-list-container {
  text-align: left;
  margin: auto;
  width: 50vw;
  display: flex;
}

/* ADDTASK */
.add-task-div {
  text-align: center;
}

/* MENU */
.menu-bar {
  text-align: center;
  padding: 2%;
}

/* MENU - BUTTONS */
.menu-bar button {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 2%;
  margin: 0.2%;
  background-color: rgb(53, 255, 255);
  border-color: rgb(53, 255, 255);
}

/* INFO */
.info-div {
  text-align: center;
}
